@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@headlessui/tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@theme {
    /* Z-Index utilities */
    --z-index-navbar: 100;
    --z-index-overlay: 101;
    --z-index-slideover: 102;
    --z-index-modal: 103;
    --z-index-dropdown: 104;
    --z-index-popover: 105;
    --z-index-tooltip: 106;

    /* Font families */
    --font-sans: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-logo: "Gugi", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility hide-scrollbar {
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility default-focus {
    &:focus-visible {
        ring: 2px var(--color-blue-400);
        ring-offset: 2px;
        outline: none;
    }
}

@utility remove-default-focus {
    &:focus,
    &:focus-visible {
        ring: 0;
        ring-offset: 0;
        outline: none;
        border: none;
    }
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #9ca3af;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
